<header class="navbar navbar-expand-md bg-warning mb-3"><!--Barra de navegacao-->
    <nav class="container">
        <a class="navbar-brand" href="/home">
            <img src="img/nome.svg" id="logotipo">
        </a>
        <div class="navbar-collapse collapse  d-md-flex justify-content-md-end" id="barra-de-navegacao">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="/createnotes">
                        Criar nota <i class="bi bi-pen"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/options">
                        Opcões <i class="bi bi-gear-fill"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        Terminar a sessão <i class="bi bi-door-open"></i>
                    </a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#barra-de-navegacao">
            <img src="img/bar-icon.svg">
        </button>
    </nav>
</header><!--Barra de navegacao | FIM-->