
<%- include ('partials/header') %>
<%- include ('partials/navigation') %>

        <div class="container bg-warning p-4">

            <p class="lead">
                Usuário inválido. Clique para tentar novamente!
            </p>

            <a href="/" class=" btn bg-secondary">
                Tentar novamente
            </a>
        </div>

        <%-include ('partials/footer') %>