<%- include ('partials/header') %>
<%- include ('partials/navigation') %>

    <div class="container">
        <ul class="list-unstyled">
            <li class="list-unstyled-item bg-warning px-3 py-2 mb-2 rounded">
                <a href="/options/eraseAccount">
                    <i class="bi bi-trash"></i> Apagar conta
                </a>
            </li> 
            <li class="list-unstyled-item bg-warning px-3 py-2 mb-2 rounded">
                <a href="/options/eraseNotes">
                    <i class="bi bi-trash"></i>  Apagar todas notas
                </a>
            </li>
            <li class="list-unstyled-item bg-warning px-3 py-2 mb-2 rounded">
                <a href="https://lissaidev.github.io">
                    <i class="bi bi-chat-left-text"></i>  Falar com o desenvolvedor
                </a>
            </li>  
        </ul>
    </div>


<%-include ('partials/footer') %>